<header >
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand ms-3 fs-3 fw-bold" href="/admin/dashboard">SHOP'N</a> 
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-dark"><i class="fa-solid fa-bars"></i></span> 
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0 d-flex justify-content-between w-50">
       
            <li class="nav-item"><a class="nav-link fs-5" href="/admin/adminproducts">Products</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="/admin/view-users">Users</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="/admin/admin-category">Category</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="/admin/orders">Orders</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="/admin/coupon">Coupon</a></li>
            <li class="nav-item"><a class="nav-link fs-5" href="/admin/offer">Offer</a></li>
             <li class="nav-item"><a class="nav-link fs-5" href="/admin/admin-banner">Banner</a></li>
      </ul>
    </div> 
    <div class="me-5">
    <form class="d-flex" action="/admin/adminlogout" method="post">
      <button class="btn " type="submit"><i class="fa-solid fa-right-from-bracket fa-lg"></i></button>
    </form>
    </div>
  </div>
</nav>
</header>