
<style>

#message {
  display:none;
}
#message span {
  font-size: 17px;
}
.valid {
  color: green;
}
.valid:before {
  position: relative;
  
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  
}
</style>
<link rel="stylesheet" type="text/css" href="/stylesheets/profilecss.css" >

<body>
  <section class="h-100 gradient-custom ">

    <div class="container-fluid py-5 d-flex justify-content-center" >
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <form action="/change-password" method="post" id="passwordsubmit">
            <div class="card-header bg-white border-0">
              <div class="row ">
                <div class="col-sm-12 text-center">
                  <h2 class="mb-0 ">Change Password</h2>
                </div>
  
              </div>
            </div>
            <div class="card-body ">
                <div class="pl-lg-4 ms-5">
               
                    <div class="col-12 col-md-6 col-lg-6 mb-3 mt-3 ms-auto me-auto">
                      <div class="form-group focused">
                        <label class="form-control-label fs-5" for="password">Current Password</label>
                        <input type="password" id="password" class="form-control w-75 form-control-alternative" name="password" 
                        placeholder="Enter current password" pattern="[A-Za-z0-9]{8,}" title="Enter 8 characters or more" required>
                        <p class="text-danger fs-bold">{{passwordExist}}</p>
                      </div>
                    </div> 
                  

                    <div class="col-12 col-md-6 col-lg-6 mb-3 mt-3 ms-auto me-auto">
                      <div class="form-group">
                        <label class="form-control-label fs-5" for="newpassword">New Password</label>
                        <input type="password" id="newpassword" class="form-control w-75 form-control-alternative" name="newPassword"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                        placeholder="Enter new password" required/>
                        <p class="text-danger fs-bold">{{passwordErr}}</p>
                        <p id="message"><span id="letter" class="invalid">a <b>lowercase</b> letter, </span>
                            <span id="capital" class="invalid">a <b>capital (uppercase), </b> letter</span>
                            <span id="number" class="invalid">a <b>number, </b></span>
                            <span id="length" class="invalid">minimum <b>8 characters</b></span>
                        </p>
                      </div>
                    </div>
               
            
                    <div class="col-12 col-md-6 col-lg-6 mb-3 ms-auto me-auto ">
                      <div class="form-group focused">
                        <p class=" fs-bold" id="PasswordMismatch"></p>
                        <label class="form-control-label fs-5" for="mobilenumber">Retype New Password</label>
                        <input type="password" id="repassword" class="form-control w-75 form-control-alternative" name="" 
                        placeholder="Re-enter new password" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-3 ms-auto me-auto">
                         <button type="submit" class="btn btn-primary fs-6 w-75">CHANGE PASSWORD</button>
                    </div>
                    

              
                </div>

                
     
 
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    
  $('#newpassword, #repassword').on('keyup', function () {
  if ($('#newpassword').val() == $('#repassword').val()) {
    $('#PasswordMismatch').html('d').css('color', '').hide();
    $('#passwordsubmit').unbind('submit')
  } else {
    $('#PasswordMismatch').html('! Password Mismatch').css('color', 'red').show()
     $('#passwordsubmit').submit(false);
   }

});


  const myInput = document.getElementById("newpassword");
  const letter = document.getElementById("letter");
  const capital = document.getElementById("capital");
  const number = document.getElementById("number");
  const length = document.getElementById("length");

  myInput.onfocus = function() {
    document.getElementById("message").style.display = "block";
  }
  myInput.onkeyup = function() {
  // Validate lowercase letters
  let lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }
  
  // Validate capital letters
  let upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  let numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
  
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
  </script>
</body>
